* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 60px;
    background-color: #333;
    color: #fff;
    transition: width 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-content {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.sidebar:hover .sidebar-content {
    opacity: 1;
}

.flex-container {
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 33%;
  }
  
  .flex-item-center {
    background-color: dodgerblue;
    padding: 10px;
    flex: 66%;
  }
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 99%;
  }
  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
.main-content {
    flex: 1;
    background-color: #f4f4f4;
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 20px;
    transition: margin-left 0.3s;
}

h1 {
    margin-bottom: 20px;
}

p, label {
    margin-bottom: 10px;
}

select, input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
