* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #ccc;
}

/* SCROLL WHEEL SECTION --------------------------------------------- */
/* Hide scrollbar by default for WebKit browsers (Chrome, Safari) */
.main-content::-webkit-scrollbar {
    display: none; /* Hide the default scrollbar */
}

/* Custom scrollbar overlay */
.main-content {
    position: relative; /* Ensure custom scrollbar overlay is positioned correctly */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer 10+ */
}

/* Style for the custom scrollbar */
.custom-scrollbar {
    position: fixed;
    right: 10px; /* Adjust as necessary */
    width: 0.2em;
    background: linear-gradient(to bottom, #ff4d4d, #f35050);
    border-radius: 100vw;
    opacity: 0;
    transition: opacity 0.3s, top 0.1s; /* Fade in/out transition and smooth scrolling */
    z-index: 10;
}

.custom-scrollbar:hover {
    background: #ff4d4d;
}
/* SCROLL WHEEL SECTION --------------------------------------------- */

h1 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 60px;
    background-color: #242130;
    color: #fff;
    transition: width 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-content {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.sidebar:hover .sidebar-content {
    opacity: 1;
}

.flex-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure the flex container does not scroll */
}

.flex-item-left {
    background-color: #1f1f1f;
    padding: 10px;
    flex: 0 0 30%; /* Adjust this percentage to make the column smaller */
    overflow-y: auto; /* Enable scrolling for the left column */
}

.flex-item-center, .flex-item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.flex-item-center-up, .flex-item-center-down,
.flex-item-right-up, .flex-item-right-down {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.flex-item-center-up {
    background-color: #1f1f1f;
}

.flex-item-center-down {
    background-color: #1f1f1f;
}

.flex-item-right-up {
    background-color: #1f1f1f;
}

.flex-item-right-down {
    background-color: #1f1f1f;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.main-content {
    flex: 1;
    background-color: #1f1f1f;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center;
    padding: 20px;
    transition: margin-left 0.1s;
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    margin-bottom: 20px;
}

p, label {
    margin-bottom: 10px;
}

select, input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.black {
    color: black; /* Text color */
    background-color: #ff6666; /* Light red button color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.2s; /* Add transition for background color change */
}

.black:hover {
    background-color: #ffffff; /* Darker shade of light red on hover */
}

/* Styles for select element with class black */
select.black {
    width: 57%; /* Adjust the width to make it smaller */
    height: 2%; /* Set the height to be scalable */
    padding: 0.5em; /* Adjust the padding */
    font-size: 13px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border radius for rounded corners */
    background-color: #ff6666; /* Light red background color */
    color: black; /* Black text color */
    cursor: pointer; /* Change cursor to pointer */
}

/* Change the color of the options text */
select.black option {
    color: rgb(255, 255, 255); /* White text color for options */
    background-color: #ff4d4d; /* Dark red background for options */
}

/* Optional: Hover effect */
select.black:hover {
    background-color: #ffffff; /* Darker shade of light red on hover */
}

/* Optional: Style for the options when hovered */
select.black option:hover {
    background-color: #ff4d4d; /* Darker shade of light red on hover */
}

/* Custom scrollbar for WebKit browsers */
select.black::-webkit-scrollbar {
    width: 8px;
}

select.black::-webkit-scrollbar-track {
    background: #ff4d4d; /* Background of the scrollbar track */
}

select.black::-webkit-scrollbar-thumb {
    background: #ff4040; /* Color of the scrollbar thumb */

}

select.black::-webkit-scrollbar-thumb:hover {
    background: #1f1f1f; /* Color of the scrollbar thumb on hover */
}

/* Custom scrollbar for Firefox */
select.black {
    scrollbar-width: none;
}

.statinput {
    width: 38%;
    padding: 0.5em;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #acada4;
    color: black;
    cursor: pointer;
}

.champbutton {
    width: 27.5%;
    padding: 10px 5px;
}

.champinput {
    width: 38%;
    padding: 0.5em;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #acada4;
    color: black;
    cursor: pointer;
}

.itembutton {
    width: 27.5%;
    padding: 10px 5px;
}

.iteminput {
    width: 38%;
    padding: 0.5em;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #acada4;
    color: black;
    cursor: pointer;
}
